	* {
		font-family: sans-serif;
		box-sizing: border-box;
		margin: 0;
	  	padding: 0;
	}

	a {
		text-decoration-line:none;
	}

	
	.primeraSeccion {
		height: 80px;
		background-color: #ffffff;
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
		padding-top:10px;
		padding-left: 15px;
		padding-bottom: 10px;
		z-index: 30;
		box-shadow: 2px 1px 2px #dfdfdf;
	}

	
	.logo {
		height:60px;
		float:left;
		
	}

	.cabecera {
		position: relative;
		background-color: #ffffff;
		width:90%;
		margin:0px auto 0px auto;
		height: 580px;
		text-align: center;
		color: #010635;
		display:flex;
		justify-content:center;
		align-items:center;


	}

	.titular {

		width:50%;
		float:left;
		
	}

	.titular h1 {
		font-size: 60px;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	.compu1 {
		width:50%;
		height:100%;
		float:left;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.compu1 img {
		width:80%;
	}	

	.posterior {
		height: 1px;
		clear: both;
	}

	.botonw {
		display:flex;
		justify-content:center;
		align-items:center;
		height: 60px;
		width:200px;
		margin:auto;
		background-color:#8400FD;
		border-radius: 5px 5px 5px 5px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 1px;
		padding-right:4px;
		margin-top:10px;
	}

	.botonw img{
		width:45px;
		height:45px;
	}

	.botonw p {
		font-size: 15px;
		color: white;	
		width:130px;
	}

	.segundaSeccion {

		height: 460px;
		background-color: #38FDB0;
		width:90%;
		margin:0px auto 0px auto;
		position: relative;
		text-align: left;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #010635;
		line-height: 1.4;
	}

	.propuesta{

		width:50%;
		height:100%;
		float:left;
		display:flex;
		justify-content:center;
		align-items:center;
		
	}


	.propuesta h3 {

		font-size: 30px;
		width:90%;
		padding-top:0px;
	}

	.propuesta ul {

		font-size: 20px;
		width:90%;
		padding-top:0px;
	}

	.compu2 {

		width:50%;
		height:100%;
		float:left;
		display:flex;
		justify-content:center;
		align-items:center;
	
	}

	.compu2 img {
		width:90%;
		
	}

	.blog {
		height: 600px;
		width:90%;
		margin:0px auto 0px auto;
		background-color: #ffffff;
		position: relative;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #010635;
		display:flex;
		justify-content:center;
		align-items:center;
		line-height: 1.4;
	}

	.blog h4 {

		font-size: 30px;
		padding-top:0px;
	}

	.blog p {

		font-size: 20px;
		padding-top:0px;
	}

	.anuncio {
		float:left;
		width:50%;
		padding-left:50px;
		
	}

	.compu3 {

		width:50%;
		float:left;
		height:100%;
		display:flex;
		justify-content:center;
		align-items:center;
	
	}

	.compu3 img {
		width:80%;

		
	}

	.indice {
		height: 470px;
		width:90%;
		margin:0px auto 0px auto;
		background-color: #8400FD;
		padding-top: 0px;
		padding-bottom: 0px;
		color: white;
		position: relative;
		text-align: center;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	
	.indice1 {
		height: 430px;
		width:90%;
		margin:0px auto 0px auto;
		background-color: #8400FD;
		padding-top: 0px;
		padding-bottom: 0px;
		color: white;
		position: relative;
		text-align: center;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.articulo {
		width:33%;
		margin:0px auto 0px auto;
		float:left;
	}

	.articulo img {
		display:flex;
		justify-content:center;
		align-items:center;
		width:60%;
		margin:auto;
		border-radius: 10px 10px 10px 10px;
	}

	.articulo p {
		padding: 30px 50px 0px 50px;
		font-size: 17px;
	}
	
	.articulo1 {
		width:33%;
		margin:0px auto 0px auto;
		float:left;
	}
	
	.articulo1 img {
		display:flex;
		justify-content:center;
		align-items:center;
		width:60%;
		margin:auto;
		border-radius: 10px 10px 10px 10px;
	}

	.articulo1 p {
		padding: 30px 50px 0px 50px;
		font-size: 17px;
	}

	.enlacea {

		color:white;

	}

	.final {
		width:90%;
		margin:auto auto 30px auto;
	}

	.final img {
		display:flex;
		justify-content:center;
		align-items:center;
		width:75%;
		margin:auto;
	}

	footer {
		width:90%;
		margin:0px auto 0px auto;
		background-color: #010635;
		color:white;
		padding: 30px 30px 30px 40px;

	}

	.base {
		float:left;
		width:33%;
	}

	.base img {
		height:60px;
	}

	.licencia {

		color:white;
		text-decoration-line:underline;	
	}

	.pie p {
		width:85%;
		margin:auto;
		font-size: 15px;
	}

	.parrafo {
		padding-top:20px;
	}

