	* {
		font-family: sans-serif;
		box-sizing: border-box;
		margin: 0;
	  	padding: 0;
	}

	a {
		text-decoration-line:none;
	}

	
	.primeraSeccion {
		height: 70px;
		background-color: #ffffff;
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
		padding-top:10px;
		padding-left: 15px;
		padding-bottom: 10px;
		z-index: 30;
		box-shadow: 2px 1px 2px #dfdfdf;
	}

	
	.logo {
		height:50px;
		float:left;
		
	}

	.titulo {
		
		text-align:center;
		color:#010635;
		font-size:20px;
		width:90%;
		margin:40px auto 40px auto;
	}

	.imagen {
		width:90%;
		margin:40px auto 40px auto;
		text-align: center;
	}

	.imagen img {
		width:80%;
	}

	.autor {
		color:#010635;
		width:80%;
		font-size: 15px;
		margin:auto;
		text-align: center;
	}

	.fecha {
		color:#696969;
		width:80%;
		font-size: 15px;
		margin:auto;
		text-align: center;
	}

	.cuerpo {
		color:#2e2e2e;
		width:90%;
		font-size: 18px;
		margin:auto;
		text-align:justify;  
    		text-justify:inter-word;
		line-height: 1.4;
	}

	.subtitulos {
		color:#010635;
		font-size:27px;
		width:90%;
		margin:auto;
	}

	.enlacep {
		color:#8400FD;
		text-decoration-line:underline;
	} 

	.cpuz {
		
		width:50%;
		margin:40px auto 40px auto;
		text-align: center;
	}

	.cpuz img {
		width:100%;
	}


	.finder {
		
		width:60%;
		margin:40px auto 40px auto;
		text-align: center;
	}

	.finder img {
		
		width:90%;
	}

	.terminal {
		
		width:50%;
		margin:40px auto 40px auto;
		text-align: center;
	}

	.terminal img {

		width:90%;
	}


	.segundaSeccion {

		height: 760px;
		background-color: #38FDB0;
		width:90%;
		margin:40px auto 40px auto;
		position: relative;
		text-align: left;
		padding-top: 0px;
		padding-bottom: 100px;
		color: #010635;
		line-height: 1.4;
	}

	.propuesta{

		width:100%;
		height:40%;
		float:left;
		
	}



	.propuesta h3 {

		font-size: 30px;
		width:90%;
		margin:auto;
		padding-top:0px;
	}

	.propuesta ul {

		font-size: 20px;
		width:90%;
		height:auto;
		padding-top:0px;
		padding-left:30px;
	}

	.conteboton{
		height:auto;
		width:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		margin-top:20px;

	}


	.botonw {
		display:flex;
		justify-content:center;
		align-items:center;
		height: 60px;
		width:200px;
		margin:0px auto 0px auto;
		background-color:#8400FD;
		border-radius: 5px 5px 5px 5px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 1px;
		padding-right:4px;
		margin-top:10px;
	}

	.botonw img{
		width:45px;
		height:45px;
	}

	.botonw p {
		font-size: 15px;
		color: white;	
		width:130px;
	}


	.compu2 {

		width:100%;
		height:60%;
		float:left;
		display:flex;
		justify-content:center;
		align-items:center;
		padding-top:0px;
		padding-bottom:30px;
	
	}

	.compu2 img {
		width:40%;
		
	}

	
	.terceraSeccion {

		height: 760px;
		background-color: #8400FD;
		width:90%;
		margin:40px auto 40px auto;
		position: relative;
		text-align: left;
		padding-top: 0px;
		padding-bottom: 80px;
		color: white;
	}

	.botonw2 {
		display:flex;
		justify-content:center;
		align-items:center;
		height: 60px;
		width:200px;
		margin:0px auto 0px auto;
		background-color:#4CCA5B;
		border-radius: 5px 5px 5px 5px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 1px;
		padding-right:4px;
		margin-top:10px;
	}

	.botonw2 img{
		width:45px;
		height:45px;
	}

	.botonw2 p {
		font-size: 15px;
		color: white;	
		width:130px;
	}

	.final {
		width:90%;
		margin:auto auto 30px auto;
	}

	.final img {
		display:flex;
		justify-content:center;
		align-items:center;
		width:75%;
		margin:auto;
	}

	.compu3 {

		width:100%;
		height:60%;
		float:left;
		display:flex;
		justify-content:center;
		align-items:center;
		padding-top:10px;
		padding-bottom:30px;
	
	}

	.compu3 img {
		width:55%;
		
	}

	footer {
		width:90%;
		height:auto;
		margin:0px auto 0px auto;
		background-color: #010635;
		color:white;
		padding: 30px 30px 30px 40px;

	}

	.base {
		float:left;
		width:33%;
	}

	.base img {
		height:60px;
	}

	.licencia {

		color:white;
		text-decoration-line:underline;	
	}

	.pie p {
		width:85%;
		margin:auto;
		font-size: 15px;
	}

	.parrafo {
		padding-top:20px;
	}

	.posterior {
		height: 1px;
		clear: both;
	}

