	* {
		font-family: sans-serif;
		box-sizing: border-box;
		margin: 0;
	  	padding: 0;
	}

	a {
		text-decoration-line:none;
	}

	
	.primeraSeccion {
		height: 80px;
		background-color: #ffffff;
		position: -webkit-sticky;
  		position: sticky;
  		top: 0;
		padding-top:10px;
		padding-left: 15px;
		padding-bottom: 10px;
		z-index: 30;
		box-shadow: 2px 1px 2px #dfdfdf;
	}

	
	.logo {
		height:60px;
		float:left;
		
	}

	.cabecera {
		position: relative;
		background-color: #ffffff;
		width:90%;
		margin:0px auto 50px auto;
		height: 900px;
		text-align: center;
		color: #010635;
		display:block;


	}

	.titular {

		width:100%;
		height:50%;
		margin:auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  		
		
	}

	.titular h1 {
		font-size: 50px;
		padding-bottom: 0px;
		padding-top: 0px;
		width:70%;
		margin:auto;
	}

	.compu1 {
		width:100%;
		height:50%;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.compu1 img {

		height:90%;
		width:auto;
		
	}	

	.posterior {
		height: 1px;
		clear: both;
	}

	.botonw {

		height: 60px;
		width:200px;
		margin:auto;
		background-color:#8400FD;
		border-radius: 5px 5px 5px 5px;
		padding-top:6px;
		padding-bottom:6px;
		padding-left: 1px;
		padding-right:4px;
		margin-top:10px;
	}

	.botonw img{
		width:45px;
		height:45px;
	}

	.botonw p {
		font-size: 15px;
		color: white;	
		width:130px;
	}

	.segundaSeccion {

		height: 660px;
		background-color: #38FDB0;
		width:90%;
		margin:0px auto 0px auto;
		position: relative;
		text-align: left;
		padding-top: 0px;
		padding-bottom: 60px;
		color: #010635;
	}

	.propuesta{

		width:100%;
		height:40%;
		float:left;
		
	}


	.propuesta h3 {

		font-size: 28px;
		width:100%;
		padding-top:0px;
	}

	.propuesta ul {

		font-size: 18px;
		width:80%;
		padding-top:0px;
	}

	.compu2 {

		width:100%;
		height:60%;
		float:left;
		display:flex;
		justify-content:center;
		align-items:center;
		padding-top: 20px;
	
	}

	.compu2 img {
		width:auto;
		height:90%;
		
	}

	.blog {
		height: 650px;
		width:90%;
		margin:0px auto 0px auto;
		background-color: #ffffff;
		position: relative;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #010635;
		display:block;
	}

	

	.blog h4 {

		font-size: 28px;
		padding-top:0px;
		width: 90%;
		text-align:center;
		margin:0px;
	}

	.blog p {

		font-size: 18px;
		padding-top:0px;
		width: 90%;
		text-align:center;
		margin:0px;
	}
	
	.anuncio {
		width:100%;
		height:40%;
		padding-left:0px;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
		
	}

	.compu3 {

		width:auto;
		height:60%;
		width:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		padding-bottom:50px;
	
	}

	.compu3 img {
		width:auto;
		height:100%;
		

		
	}

	.indice {
		height: 1090px;
		width:90%;
		margin:0px auto 0px auto;
		background-color: #8400FD;
		padding-top: 50px;
		padding-bottom: 0px;
		color: white;
		position: relative;
		text-align: center;
		display:block;
	}
	
	.indice1 {
		height: 400px;
		width:90%;
		margin:0px auto 0px auto;
		background-color: #8400FD;
		padding-top: 0px;
		padding-bottom: 50px;
		color: white;
		position: relative;
		text-align: center;
		display:block;
	}

	.articulo {
		width:100%;
		height:33%;
		margin:0px auto 0px auto;
		float:left;
		
	}

	.enlacea {

		color:white;
		width:100%;
		height:100%;
		margin:0px auto 0px auto;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	.articulo img {
		width:auto;
		height:70%;
		margin:auto;
		border-radius: 10px 10px 10px 10px;
	}

	.articulo p {
		padding: 30px 0px 30px 0px;
		font-size: 18px;
		width:60%;
	}
	
	.articulo1 {
		width:100%;
		height:100%;
		margin:0px auto 0px auto;
		float:left;
		
	}
	
	.articulo1 img {
		width:auto;
		height:67%;
		margin:auto;
		border-radius: 10px 10px 10px 10px;
	}

	.articulo1 p {
		padding: 30px 0px 10px 0px;
		font-size: 18px;
		width:60%;
	}

	

	.final {
		width:90%;
		margin:auto auto 30px auto;
	}

	.final img {
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		margin:auto;
	}

	footer {
		width:90%;
		margin:0px auto 0px auto;
		background-color: #010635;
		color:white;
		padding: 30px 30px 30px 40px;

	}

	.base {
		float:left;
		width:33%;
	}

	.base img {
		height:60px;
	}

	.licencia {

		color:white;
		text-decoration-line:underline;	
	}

	.pie p {
		width:85%;
		margin:auto;
		font-size: 12px;
	}

	.parrafo {
		padding-top:20px;
	}

